.logo {
  width: 25%;
}

.nav-theme {
  background-color: #cedb1000;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px rgba(173, 201, 15, 0);
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
