.focus {
  transition: transform 0.3s;
}

.focus:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.6em;
  font-weight: 900;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #000000f8;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
  color: #fafafa;
}
